:root{
    --toboo-bg: #f6f8f9;
    --toboo-task: #14aaf5;
    --toboo-section: #d7dce0;
    --toboo-editorial: #09a9ed;
    --toboo-goals: #ab5de6;
    --toboo-recruiting: #2cc6ab;
    --toboo-mobile: #ff9b00;
    --toboo-website: #ec4a9d;
    --toboo-sales: #a3d116;
}

body{
    background-color: #f6f8f9;
    margin: 0;
}

header{
    background-color: white;
    padding: 10px;
    line-height: 10px;
}

#logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#container{
    background-color: white;
    margin: 40px 25% 5px 25%;
}

.nav{
    display: inline-block;
}

#task{
    background-color: #14aaf5;
    border: 2px solid var(--toboo-task);
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
}

#section{
    color: var(--toboo-section);
    border: 2px solid var(--toboo-section);
    border-radius: 5px;
    padding: 5px;
}