:root{
    --toboo-bg: #f6f8f9;
    --toboo-task: #14aaf5;
    --toboo-section: #d7dce0;
    --toboo-editorial: #09a9ed;
    --toboo-goals: #ab5de6;
    --toboo-recruiting: #2cc6ab;
    --toboo-mobile: #ff9b00;
    --toboo-website: #ec4a9d;
    --toboo-sales: #a3d116;
}

body{
    background-color: #f6f8f9;
    margin: 0;
}

.title{
    background-color: white;
    padding: 10px;
    line-height: 10px;
}

#logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.container{
    background-color: white;
    margin: 40px 25% 5px 25%;
}

.nav{
    display: inline-block;
}

#task{
    background-color: #14aaf5;
    border: 2px solid var(--toboo-task);
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
}

#section{
    color: var(--toboo-section);
    border: 2px solid var(--toboo-section);
    border-radius: 5px;
    padding: 5px;
}

.tab{
    margin-left: 50px;
}

.da_title{
    display: inline-block;
}

.row{
    margin-bottom: 20px;
}


.check{
    display: inline-block;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
}

.task{
    display: inline-block;
    margin-left: 5px;
    font-size: 18px;
}

.editorial{
    display: inline-block;
    color: white;
    font-size: 15px;
    background-color: var(--toboo-editorial);
    border: 2px solid var(--toboo-editorial);
    border-radius: 13px;
    padding: 5px 10px;
    margin-left: 5px;
}

.goals{
    display: inline-block;
    color: white;
    font-size: 15px;
    background-color: var(--toboo-goals);
    border: 2px solid var(--toboo-goals);
    border-radius: 13px;
    padding: 5px 10px;
    margin-left: 5px;
}

.cross{
    display: inline-block;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
}

.recruiting{
    display: inline-block;
    color: white;
    font-size: 15px;
    background-color: var(--toboo-recruiting);
    border: 2px solid var(--toboo-recruiting);
    border-radius: 13px;
    padding: 5px 10px;
    margin-left: 5px;
}

.mobile{
    display: inline-block;
    color: white;
    font-size: 15px;
    background-color: var(--toboo-mobile);
    border: 2px solid var(--toboo-mobile);
    border-radius: 13px;
    padding: 5px 10px;
    margin-left: 5px;
}